<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a3e471">  <td>21/09/17 13:40:58</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WeatherTest.getForecastDetails()[pri:0, instance:assessmentTest.WeatherTest@732c2a62]">getForecastDetails</td> 
  <td>main@2074820378</td>   <td></td> </tr>
<tr bgcolor="a3e471">  <td>21/09/17 13:40:56</td>   <td>-2165</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WeatherTest.getWoeidTest()[pri:0, instance:assessmentTest.WeatherTest@732c2a62]">getWoeidTest</td> 
  <td>main@2074820378</td>   <td></td> </tr>
<tr bgcolor="d3ccb2">  <td>21/09/17 13:40:56</td>   <td>-2628</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AppTestBase.initBase()[pri:0, instance:assessmentTest.WeatherTest@732c2a62]">&gt;&gt;initBase</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2074820378</td>   <td></td> </tr>
</table>
