<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="78afa0">  <td>21/09/17 14:20:13</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AppTestBase.initBase()[pri:0, instance:assessmentTest.WeatherTest@548e6d58]">&gt;&gt;initBase</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1149377174</td>   <td></td> </tr>
<tr bgcolor="86b7cc">  <td>21/09/17 14:20:13</td>   <td>520</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WeatherTest.getWoeidTest()[pri:0, instance:assessmentTest.WeatherTest@548e6d58]">getWoeidTest</td> 
  <td>main@1149377174</td>   <td></td> </tr>
<tr bgcolor="86b7cc">  <td>21/09/17 14:20:15</td>   <td>2297</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WeatherTest.getForecastDetails()[pri:0, instance:assessmentTest.WeatherTest@548e6d58]">getForecastDetails</td> 
  <td>main@1149377174</td>   <td></td> </tr>
</table>
